.countdown-discount-container{
    overflow: hidden;
}
.countdown-discount-container .dot-circle{
    position: relative;
}
.countdown-discount-container .dot-circle:after{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -5px;
  height: 100%;
  background-image: repeating-radial-gradient( circle, #fff 0px, #fff 5px, transparent 4px, transparent 12px );
  background-position: center;
  background-repeat: repeat-y;
  background-size: 9px 11px;
  width: 10px;
}
.countdown-discount-container .row{
    --bs-gutter-x: 0;
}
.countdown-discount-container .discount-label{
    height:100%;
    width: 100%;
    background: linear-gradient(0deg,#ff7716,#ffa768);
    position: relative;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding:15px 10px 15px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.countdown-discount-container .discount-label span{
}
.countdown-discount-container .discount-label:before{
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    background: #fff;
    position: absolute;
    top: 0;
    left: -15px;
    border-radius: 50px;
    bottom: 0;
    margin: auto;
}
.countdown-discount-container .discount-label:after{
    content: "";
    display: block;
    height: 100%;
    width: 2px;
    position: absolute;
    top: 0;
    left: 30px;
    border-left: 2px dashed white;
}
.countdown-discount-container .discount-info{
    background: #fff0e4;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top:18px;
    padding-bottom: 18px;
    justify-content: space-between;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.countdown-discount-container .discount-info .info-text{
    display:flex;
    flex-direction: column;
}
.countdown-discount-container .discount-info .btn-copy-code{
    padding:8px 20px;
    border-radius: 50px;
    text-transform: uppercase;
    font-family: 'Mulish-SemiBold';
    background: #ff8832;
    color: #FFF;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    line-height: normal;
}
.countdown-discount-container .discount-info .btn-copy-code img{
    width:18px;
    height:18px;
    object-fit: contain;
}
.announcement-bar-section.hover-header-menu .announcement-bar__message span{
    color:#000 !important;
}
.product-variant li, .product-variant nav, .product-variant ol, .product-variant ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
.content-heaher .heading{
    padding-bottom:20px;
} 
a{
  text-decoration: inherit;
}
.text-decoration-underline{
    text-decoration: underline;
}
.col_5{
    width: 5%;
}
.col_10{
    width: 10%;
}
.col_15{
    width: 15%;
}
.col_20{
    width: 20%;
}
.col_25{
    width: 25%;
}
.col_30{
    width: 30%;
}
.col_35{
    width: 35%;
}
.col_40{
    width: 40%;
}
.col_45{
    width: 45%;
}
.col_49{
    width: 49%;
}
.col_50{
    width: 50%;
}
.col_51{
    width: 51%;
}
.col_55{
    width: 55%;
}
.col_60{
    width: 60%;
}
.col_65{
    width: 65%;
}
.col_70{
    width: 70%;
}
.col_75{
    width: 75%;
}
.col_80{
    width: 80%;
}
.col_85{
    width: 85%;
}
.col_90{
    width: 90%;
}
.col_95{
    width: 95%;
}
.col_100{
    width: 100%;
}
.d-flex{
    display: flex;
}
.gap-column-1{
    column-gap: 1rem;
}
.gap-column-1-5{
    column-gap: 1.5rem;
}
.gap-row-1-5{
    row-gap: 1.5rem;
}
.gap-row-1{
    row-gap: 1rem;
}
.flex-direction-column{
    flex-direction: column;
}
.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.m-t-1{
    margin-top:1rem;
}
.btn{
    padding:7px 2.5rem;
    border-radius: 50px;
    display:block;
    width: fit-content;
}
.learn-more{
    background-color: #000;
}
.learn-more svg{
    width: 12px;
    height: 12px;
    margin-top: 1px;
}
.learn-more p{
    color: #fff;
}
.h-desktop{
    display:block;
}
.h-mobile{
    display:none;
}
.h-g-desktop{
    display:grid;
}
.h-g-mobile{
    display:none;
}



.pp-thin {
    font-family: 'Poppins';
    font-weight: 100 !important;
    letter-spacing: normal;
}
.pp-extralight {
    font-family: 'Poppins';
    font-weight: 200 !important;
    letter-spacing: normal;
}
.pp-light {
    font-family: 'Poppins';
    font-weight: 300 !important;
    letter-spacing: normal;
}
.pp-regular {
    font-family: 'Poppins';
    font-weight: 400 !important;
    letter-spacing: normal;
}
.pp-medium {
    font-family: 'Poppins';
    font-weight: 500 !important;
    letter-spacing: normal;
}
.pp-semibold {
    font-family: 'Poppins';
    font-weight: 600 !important;
    letter-spacing: normal;
}
.pp-bold {
    font-family: 'Poppins';
    font-weight: 700 !important;
    letter-spacing: normal;
}
.pp-extrabold {
    font-family: 'Poppins';
    font-weight: 800 !important;
    letter-spacing: normal;
}
.pp-black {
    font-family: 'Poppins';
    font-weight: 900 !important;
    letter-spacing: normal;
}
/* FOR MOBILE PHONE */
@media only screen and (max-width: 768px) {
    .col_5, .col_10, .col_15, .col_20, .col_25, .col_30, .col_35, .col_40, .col_45, .col_50, .col_55, .col_60, .col_65, .col_70, .col_75, .col_80, .col_85, .col_90, .col_95{
        width: 100%;
    }
    .col_49, .col_51{
        width:100%;
    }
    .page-mid-width{
        padding:0px 20px;
    }
    .h-desktop{
        display:none;
    }
    .h-mobile{
        display:block;
    }
    .h-g-desktop{
        display:none;
    }
    .h-g-mobile{
        display:grid;
    }
    #main-collection .clear-filter a i{
        margin-top:5px;
    }
    .discount-banner-content .s-column a{
      font-size:12px;
    }
}

/* ipad Air */
@media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) {
    .col_5, .col_10, .col_15, .col_20, .col_25, .col_30, .col_35, .col_40, .col_45, .col_50, .col_55, .col_60, .col_65, .col_70, .col_75, .col_80, .col_85, .col_90, .col_95{
        width: 100%;
    }
    .col_49, .col_51{
        width:100%;
    }
    .page-mid-width{
        padding:0px 30px;
    }
    .h-desktop{
        display:none;
    }
    .h-mobile{
        display:block;
    }
    .h-g-desktop{
        display:none;
    }
    .h-g-mobile{
        display:grid;
    }
    #main-collection .clear-filter a i{
        margin-top:5px;
    }

}
:focus-visible{
    outline: none !important;
}

/* REVIEW SECTION CSS */
.jdgm-rev-widg__title{
    display: none !important;
}
.jdgm-rev__author{
  color:#000;
}
.jdgm-widget:not(.jdgm-review-widget--small,.jdgm-review-widget--medium) .jdgm-row-stars>div{
    align-items: unset !important;
    width:33%;
}
.jdgm-widget:not(.jdgm-review-widget--small,.jdgm-review-widget--medium) .jdgm-row-stars{
    justify-content: space-between !important;
}
.jdgm-widget-actions-wrapper{
    border-left: 0px;
}
.jdgm-write-rev-link.jdgm-write-rev-link{
    background-color: #000 !important;
    border: none !important;
    border-radius: 50px;
    padding-top:15px;
    padding-bottom:15px;
}

/* SWIPER PAGINATION */
.swiper-pagination-long{
    display:flex;
    margin-top:30px;
    justify-content: center;
    gap:4px;
}
.swiper-pagination-long .swiper-pagination-bullet{
    width:10px;
    height:10px;
    transition: all 0.3s ease;
}
.swiper-pagination-long .swiper-pagination-bullet-active{
    width: 40px;
    border-radius: 50px;
    background:#FF8832;
}
.swiper-pagination-default{
    display:flex;
    margin-top:20px;
    justify-content: center;
    gap:4px;
}
.swiper-pagination-default .swiper-pagination-bullet{
    width:12px;
    height:12px;
    transition: all 0.3s ease;
    border:1px solid #000;
    background:transparent;
    opacity: 1;
}
.swiper-pagination-default .swiper-pagination-bullet-active{
    border-radius: 50px;
    background:#000;
}

/* PRODUCT PAGE - DISCOUNT BANNER */

.discount-label{
  background:#FFF5F5;
  padding:5px 15px;
}
.discount-banner{
  position:relative;
  top:2rem;
}
.discount-banner img{
  width:100%;
}
.discount-banner-content{
  position:absolute;
  top:0;
  display: grid;
  grid-template-columns: 21% 79%;
  width:100%;
  height:90%;
  align-items: center;
}
.discount-banner-content .s-column{
  display:flex;
  flex-direction:column;
  padding-left:10px;
}
.discount-banner-content .f-column{
  display:flex;
  padding-left:1rem;
}

/* SCROLL UP ARROW */
#effectiveAppsScrollToTopBtn{
    display:none !important;
    background-color: #0000004f !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 50%;
    background-image: url(https://cdn.shopify.com/s/files/1/0639/3492/2809/files/arrow-up-white.png?v=1729761902);
    background-size: 55%;
    background-position: center;
    background-repeat: no-repeat;
}
#effectiveAppsScrollToTopBtn:hover{
    background-color: #ff8832 !important;
    background-image: url(https://cdn.shopify.com/s/files/1/0639/3492/2809/files/arrow-up-white.png?v=1729761902);
}
#effectiveAppsScrollToTopBtn g{
    display:none;
}

.scroll-to-top-btn{
  display:none;
  background-color: #0000004f;
  position: fixed;
  right: 2rem;
  bottom: 10rem;
  z-index: 9;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 0.8rem;    
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.scroll-to-top-btn:hover{
  background-color: #ff8832;
}

/* FOR MOBILE PHONE */
@media only screen and (max-width: 768px) {
  .scroll-to-top-btn{
    width: 45px;
    height: 45px;
    bottom:9.5rem;
  }
}

/* ipad Air */
@media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px){
  .scroll-to-top-btn{
    width: 45px;
    height: 45px;
  }
}


/* MAIN COLLECTION - CUSTOM INPUT CHECKBOX */
.filter-group-display__list-item label {
  display:flex;
  gap:10px;
}
.filter-group-display__list-item label input{
  display:none;
}
.filter-group-display__list-item label span.custom-checkbox{
    position: relative;
    display: block;
    top: 0px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #00000052;
    border-radius: 5px;
}
.filter-group-display__list-item label span.custom-checkbox:after{    
    content: "";
    position: absolute;
    display: none;
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #FF8832;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.filter-group-display__list-item label input:checked~span.custom-checkbox:after{
  display:block;
}


.mobile-filter .accordion{
  margin-top:0px;
  border-top:none;
  border-bottom:none;
}
#main-collection .mobile-filter .accordion-item{
  border-bottom:none !important;
}
#main-collection .mobile-filter .accordion-body{
  padding-bottom:0px !important;
}
#main-collection .mobile-filter .filter-label span,
#main-collection .clear-filter a{
    font-family: 'Mulish-Bold';
}
.custom-label-radio label{
  display:flex;
  gap:10px;
  align-items: center;
  padding-bottom:5px;
}
.custom-label-radio label input{
  display:none;
}
.custom-label-radio label span.custom-radiobox{
    position: relative;
    display: block;
    top: 0px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: 1px solid #00000052;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-label-radio label span.custom-radiobox:after{
    content: "";
    display: none;
    background: #FF8832;
    width: 12px;
    height: 12px;
    border-radius: 50px;
}
.custom-label-radio label input:checked~span.custom-radiobox:after{
    display: block;
}

/* SEARCH MODAL */
.header__icon.header__icon--search span .header__icon-close{
  display:none;
}

/* TRACK ORDER */
.CustomTabs_tab-group__r5e_a .CustomTabs_tab__rLQHf.CustomTabs_active__xTes6{
  border-bottom-color: #FF8832 !important;
}
.CustomButton{
  background-color: #FF8832 !important;
  border-color: #FF8832 !important;
}
.Track_mobile_container__v1o5g .Track_buttonText__1OWww{
  line-height: normal !important;
  font-weight:normal !important;
}
.product-form__buttons  button{
  border:none;
  transition: all 0.5s ease;
}
.product-form__buttons  button:hover{
  background-color:#FF8832 !important;
}
.product-form__buttons  button:hover span{
  color:#fff !important;
}
/* CY VIDEO EMBDED */
#section-firework-embed .cy-title{
    font-size:35px;
    font-family: 'Mulish-Bold';
}

/* FOR MOBILE PHONE */
@media only screen and (max-width: 768px) {
    .discount-banner-content .s-column{
      padding-left:0px;
    }
    button.chat-toggle.chat-toggle--icon-button{
      position:relative;
      bottom:40px !important;
    }
    .header__icon--account span.svg-wrapper:after, 
    .header__icon--cart span.svg-wrapper:after,
    .header__search .header__icon--search .svg-wrapper:after{
        width:30px;
        height:30px;
    }
    .tl-selection{
        padding:0 !important;
    }
    header-drawer{
        margin-left:0 !important;
    }
    .header__icon, 
    .header__icon--cart .icon{
        margin:0;
    }
    .header__icon--menu .icon,
    .header__icon .icon.icon-close{
        width: 1.6rem;
        height: 1.6rem;
    }
}

.header__icon--account span.svg-wrapper,
.header__icon--cart span.svg-wrapper{
  position:relative;
  z-index:1;
}

.header__icon--account span.svg-wrapper svg,
.header__icon--cart span.svg-wrapper svg{
  position:relative;
  z-index:1;
}
.header__icon--account span.svg-wrapper:after,
.header__icon--cart span.svg-wrapper:after{
  content:"";
  display:block;
  position:absolute;
  opacity:0;
  width:40px;
  height:40px;
  background-color: #ff8832;
  border-radius:50px;
  z-index:0;
  transition: all 0.3s ease;
}
.header__icon--account:hover span.svg-wrapper svg path,
.header__icon--cart:hover span.svg-wrapper:after svg path{
  fill:#fff;
}
.header__icon--account:hover span.svg-wrapper:after,
.header__icon--cart:hover span.svg-wrapper:after{
  opacity:1;
}

.header__icon--cart:hover .cart-count-bubble span{
  color:#000;
}
.header__icon--cart:hover .cart-count-bubble{
  background-color:#fff;
  z-index:2;
}
.current-country-selector-container,
.current-currency-selector-container{
  display:flex;
  align-items: center;
  gap:10px;
}

.footer-payment-icons img {
    height: 24px;
    width: auto;
    object-fit: contain;
    max-width: none
}

.product__media-list .media>img {
    object-fit: contain
}

/* PRODUCT MEDIA -------------- */
.product__media-list .media>img{
  object-fit: contain;
}
