
/* VARIANT COLOR */
.color-variant{
    display: block;
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50px;
    font-size: 0px;
    border: 1px solid #0000001a;
}
.product-variant li{
    border-radius: 50px;
    padding:3px;
    border:1px solid transparent;
    cursor: pointer;
}
.product-variant li.selected{
    border-color: black;
}
.color-variant[data-color="white"]{
    background: #fff;
}
.color-variant[data-color="black"]{
    background: #000;
}
.color-variant[data-color="silver"]{
    background: silver;
}
.color-variant[data-color="blue"]{
    background: blue;
}
.color-variant[data-color="red"]{
    background: red;
}
.color-variant[data-color="grey"]{
    background: grey;
}
.color-variant[data-color="purple"]{
    background: #dcd0ff;
}
.color-variant[data-color="pink"]{
    background: #FFC9C9;
}
.color-variant[data-color="green"]{
    background: rgb(96 109 104);
}
.color-variant[data-color="gold"]{
    background: rgb(212 154 6);
}
.color-variant[data-color="black-orange"]{
    background: url(https://hitway.eu/cdn/shop/files/blachorange.png?v=1689219023);
    background-size: cover;
}
.color-variant[data-color="black-green"]{
    background: url(https://hitway.eu/cdn/shop/files/blackgreen.png?v=1689219023);    
    background-size: cover;
}
.image-variant .color-variant{
    border-radius: 8px; 
    width: 50px;
    height: 50px;
    background-size:contain !important;
}
.product-variant .image-variant  li{
    border-radius: 8px;
    padding:0px;
    border:1px solid transparent;
    cursor: pointer;
}
.product-variant .image-variant  li.selected{
    border-color: #000;
}
.product-variant .image-variant .limit-var{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* VARIANT COLOR - PRODUCT PAGE*/
.product-form__input--pill.Color{
    margin-left:5px;
    margin-bottom:1rem;
}

.product-form__input--pill.Color legend.form__label {
    margin-left: -5px;
}
.color-variant-product.color {
    display: block;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50px;
    border: 1px solid #0000001a!important;
    font-size: 0px!important;
    padding: 0px !important;
    margin: 0.7rem 1.3rem 0.2rem 0 !important;
}
.product-variant li{
    border-radius: 50px;
    padding:3px;
    border:1px solid transparent;
    cursor: pointer;
}
.product-variant li.selected{
    border-color: black;
}
.color-variant-product.color[data-color="white"]{
    background-color: #fff !important;
}
.color-variant-product.color[data-color="black"]{
    background-color: #000  !important;
}
.color-variant-product.color[data-color="silver"]{
    background-color: silver  !important;
}
.color-variant-product.color[data-color="blue"]{
    background-color: blue  !important;
}
.color-variant-product.color[data-color="red"]{
    background-color: red  !important;
}
.color-variant-product.color[data-color="grey"]{
    background-color: grey !important;
}
.color-variant-product.color[data-color="black-orange"]{
    background: url(https://hitway.eu/cdn/shop/files/blachorange.png?v=1689219023);
    background-size: cover;
}
.color-variant-product.color[data-color="black-green"]{
    background: url(https://hitway.eu/cdn/shop/files/blackgreen.png?v=1689219023);    
    background-size: cover;
}
.product-form__input--pill.Color input[type=radio]:checked+label.color-variant-product:before{
    border-color:black;
}
.product-form__input--pill.Color input[type=radio]+label.color-variant-product:before{
    border: 1px solid transparent;
    display: block;
    width: 3.7rem;
    height: 3.7rem;
    background: #fff;
    padding: 0px;
    top: -5px;
    left: -5px;
    right: unset;
    bottom: unset;
}
.image-variant-product{
    border-radius: 8px !important; 
    width: 60px;
    height: 60px;
    background-size:contain !important;
    font-size:0px !important;
    border: 1px solid #00000012 !important;
}
.product-form__input--pill input[type=radio]:checked+label.image-variant-product{
    border-color:black !important;
}

/* FOR MOBILE PHONE */
@media only screen and (max-width: 768px) {
    .product-variant li{
        padding:1px;
    }
}

/* ipad Air */
@media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px){
    .product-variant li{
        padding:1px;
    }
    
}